html, body {
    width: 100%;
    height: 100%;

    margin: 0;
    padding: 0;

    overflow: hidden;
}

/* HEADER */
header {
  padding: 0;
}
h1 {
  margin-left: 1em;
  margin-top: 0.5em;
  font-size: 1em;
  }
#nav-mobile li a {
  text-transform: capitalize;
}


/* FOOTER */

footer {
  position:fixed;
  width: 100%;
  padding: 0;
  bottom: 0;
}
.page-footer {
  padding-top: 0;
}