<div class="row inLine">
    <div class="contain-me" ng-repeat="artist in $ctrl.artists">

            <div class="purCent">
                <img class="responsive-img" ng-src="{{ artist.images[0].resource_url }}">
            </div>

            <a ui-sref="artist({ id : artist.id })">{{ artist.name }}</a>
            <h5>Derniers Morceaux</h5>
            <ul ng-repeat="release in $ctrl.getArtistReleases(artist.id).releases">
                <li>
                    <a ui-sref="release({ id : release.id })"> {{ release.title }} </a>
                    <small><a ui-sref="release({ label : release.id })"></a> {{ release.label || "no label" }}</small>
                </li>
         </ul>
    </div>
</div>
