<div class="row inLine">
    <div class="test" ng-repeat="artist in $ctrl.artists">
        
            <div class="purCent">
                <img class="responsive-img" ng-src="{{ artist.images[0].uri }}" alt="{{ artist.id }}">
            </div>

            <h3>{{ artist.name }}</h3>
            <h5>Derniers Morceaux</h5>
            <ul ng-repeat="release in $ctrl.getArtistReleases(artist.id).releases">
                <li>
                    <a ui-sref="release({ id : release.id })"> {{ release.title }} </a>
                    <small> {{ release.label || "no label" }}</small>
                </li>
         </ul>
    </div>
</div>
<div class="row inLine">
    <div class="test" ng-repeat="artist in $ctrl.artists">
        
            <div class="purCent">
                <img class="responsive-img" ng-src="{{ artist.images[0].uri }}" alt="{{ artist.id }}">
            </div>

            <h3>{{ artist.name }}</h3>
            <h5>Derniers Morceaux</h5>
            <ul ng-repeat="release in $ctrl.getArtistReleases(artist.id).releases">
                <li>
                    <a ui-sref="release({ id : release.id })"> {{ release.title }} </a>
                    <small> {{ release.label || "no label" }}</small>
                </li>
         </ul>
    </div>
</div>